.container{
    min-width: 770px;
    font-size: 1.6em;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}
body{
    background: url(../images/car4.jpg);
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
}
.row1 a,
.row2 a {

    border: 2px solid rgb(112, 81, 81);
    width: 40%;
    padding: 60px 20px;
    background-color: blueviolet;
}
.row1{
    width: 100%;
}
.row2{
    width: 50%;
}
.row1 , .row2{
    margin: 10% auto 10% auto;
}

a{
    color: white !important; 
}
a:hover{
    color: black !important;
    background-color: white;
    box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.89);
}


/* Media Queries */

@media(max-width: 890px){
    .flex23  .flex2{
        margin: 0 auto 5% auto ;
        float: none;
    } 
    .flex23  .flex3{
        margin: auto ;
        float: none;
    }
    .flex1  div,
    .flex23  div{
        width: 38%;
        padding: 70px 40px;
    }
 
}

@media(max-width: 770px){
    .flex1 > div,
    .flex23 > div{
         width: 50%; 
    }


}
