body{
    background: url(../images/car2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.back-img{
    width: 100% !important;
    padding-top: 40px;
    /* background: url(../images/dott.png); */
    background-attachment: fixed;  
    height: 600px;
}
h1{
    font-weight: 1000 !important;
    text-align: center;
    font-size: 2.6em;
    color: rgb(199, 5, 86);
}
div{
    text-align: center;
    float: left;
    width: 50%;
}
div > input {
    font-size: 1.9em;
    text-align: center !important;
    width: 50%;
    margin-top: 3em;
    /* margin: auto; */
    letter-spacing: 1.6px;
    font-weight: 550;
    color: rgb(207, 198, 198);
    padding: 20px;
    background-color: blue;
}
div  > input:hover{
    cursor: pointer;
    background-color: rgb(207, 78, 78);
}